.head_nav {
     background-color: #f9c700;
}
.head_nav ul.pc_navi {
    list-style: none;
     *zoom: 1;
     background-color: #f9c700;
     margin: auto;
     max-width: 981px;
		-js-display: flex;
		display: flex;
}
.head_nav ul:before,
.head_nav ul:after {
    content: " "; 
    display: table; 
}
.head_nav ul:after {
    clear: both;
}
.head_nav ul ul {
    list-style: none;
/*     width: 9em; */
    display: block;
}
.head_nav ul a {
/*     padding: 10px 15px; */
    color:#fff;
}
.head_nav ul li {
    position: relative;
}
.head_nav ul > li {
    float: left;
/*     border-top: 1px solid #104336; */
}
.head_nav ul > li.hover {
    opacity:1;
}
.head_nav ul > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.head_nav ul > li > a {
    display: block;
}
.head_nav ul li  ul {
    position: absolute;
    left: -9999px;
}
.head_nav ul > li.hover > ul {
    left: 0;
}
.head_nav ul li li.hover ul {
    left: 100%;
    top: 0;
}
.head_nav ul li li a {
    display: block;
    background: #fff;
    position: relative;
    z-index: 100;
    border-top: 1px solid #f9c700;
    color: #333;
    display: block;
    padding: 15px 10px;
    min-width: 150px;

}
.head_nav ul li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #f9c700;
}
@media only screen and (min-width: 600px) {
	.head_nav ul {
		-js-display: flex;
		display: flex;
	}

}
@media screen and (max-width: 599px) {
	.sp-head-nav {
		display: none;
	}
    .active {
        display: block;
    }
    .sp-head-nav ul > li {
        float: none;
    }
    .sp-head-nav ul > li > .parent {
        background-position: 95% 50%;
    }
    .sp-head-nav ul li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .sp-head-nav ul ul {
        display: block;
        width: 100%;
    }
   .sp-head-nav ul > li.hover > ul , .sp-head-nav ul li li.hover ul {
        position: static;
    }

}